<%= form_for(@member, url: invite_member_tenant_path(@tenant), method: :post) do |f| %>
  <%= fields_for(:user) do |u| %>
    <div class="mb-3">
      <%= u.label :email, "Friend's Email", class: "form-label fw-bold" %>
      <%= u.email_field :email, class: "form-control", placeholder: "friend@example.com", required: true %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :first_name, class: "form-label fw-bold" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="col-md-6 mb-3">
      <%= f.label :last_name, class: "form-label fw-bold" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <%= f.submit "Send Invitation", class: "btn btn-primary w-100 py-2 shadow-sm" %>
<% end %>